In [8]:
import pandas as pd
import numpy as np

In [11]:
# Directly loading data through library

# import numpy as np
# import pandas as pd
# from sklearn.datasets import load_iris

# # save load_iris() sklearn dataset to iris
# # if you'd like to check dataset type use: type(load_iris())
# # if you'd like to view list of attributes use: dir(load_iris())
# iris = load_iris()

# # np.c_ is the numpy concatenate function
# # which is used to concat iris['data'] and iris['target'] arrays 
# # for pandas column argument: concat iris['feature_names'] list
# # and string list (in this case one string); you can make this anything you'd like..  
# # the original dataset would probably call this ['Species']
# data1 = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
#                      columns= iris['feature_names'] + ['target'])

In [14]:
ls

 Volume in drive F is COLLEGE
 Volume Serial Number is 14C4-D5AB

 Directory of F:\BE\DA\Assignment1

22-07-2021  11:44    <DIR>          .
22-07-2021  11:44    <DIR>          ..
20-07-2021  14:38    <DIR>          .ipynb_checkpoints
22-07-2021  11:44             2,113 Assignment 1.ipynb
22-07-2021  11:43             5,107 Iris.csv
               2 File(s)          7,220 bytes
               3 Dir(s)  214,611,812,352 bytes free

In [15]:
iris = pd.read_csv('Iris.csv')

In [16]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [18]:
print(iris.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

## Feautres 

#### There are x features

#### Type of data:
<br>
SepalLengthCm<br>
SepalWidthCm<br>
PetalLengthCm<br>
PetalWidthCm<br>
Species-Categorical<br>